
/* 首頁的外觀樣式都在這 */


body {
    padding: 20px;
}
/* Button */
.btn {
  font-family: Arial;
  display: inline-block;  /* 設定為行內區塊元素特性 */
  color: black;
  font-size: 0.8em;
  padding: 0.5em 1em;
  text-decoration: none;
  border: thin solid gray;
  background: linear-gradient(#f7f7f7, #dedede);
}

/* 成功跟錯誤訊息設定css */
.success, .error {
  padding: 1em 0 1em 3em;
}

.success {
  background-color: #ddffdd;
  border: thin solid green;
}

.error {
  background-color: #fbd9d8;
  border: thin solid red;
}

/* 修改按鈕的外觀 */
.inlineBlock {
  display: inline-block;
}
/*---------------bootstrap重新套的地方-----------------------------*/
header nav img{
  width: 145px;
}
header li{
  margin: 0 16px;
}
.btn{
  background: #f05f5c;
  color: white;
  padding: 9px 26px;
  border-radius: 20px;
}
#intro .jumbotron{
  height: 70vh;
  margin-bottom: 0px;
}

#intro h1{
  font-size: 50px;
  font-weight: 400;
  line-height: 1.5;
}
#intro .jumbotron .container{   /*把div裡面東西置中*/
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

#second{
  padding: 80px 0px;
}

#second h3{
  margin-bottom: 80px;
}

#second img{
  width:100px;
  border-radius: 100%;
  margin-bottom: 13px;
}



#footer{
  border-top: solid 1px #c9c9c9;
  padding: 80px 0px;
}

#footer img{
  width: 115px;
  margin-bottom: 25px;
}

#footer h4{
  margin-bottom: 26px;
}

#footer a{
  color:#f05f5c;
}

#footer ul{
  list-style: none; /*把清單list的特效拿掉*/
  padding: 0;
  float: left;       /*把清單往左橫放*/
  margin-right: 50px;
  margin-bottom: 10px;
}

#footer ul li{
  margin-bottom: 10px;
}

#footer ul li a{
  color: #707070;
}